
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#outter{
    padding:8% 10% 1% 10%;
    background-color: #2C2C2C;
    color : #797A71;
}
body{
    background-color: #EFEFEF;
}
.border{
    word-wrap: break-word;
    padding-left: 2%;
    margin:0% 0% 0% 1%;
    width:15.6%;
    float:left;
    border: 1px solid #E8CA14;
    border-radius: 2px;
}
#svgHolder{
}
#header{
    padding: 0% 0% 0% 18%;
    margin: -4% 0% 4% 0%;
    font-size: 3vw;

}